<div class="mx-auto max-w-3xl px-5 py-16 sm:px-6 sm:plg:px-8">
  <%= link_to sanitize("&larr; 投稿一覧に戻る"), posts_path %>
  <div>
    <h2 class="text-2xl font-medium text-black">投稿の編集</h2>
  </div>

  <%= turbo_frame_tag @post do %>
    <%= render 'form', post: @post %>
  <% end %>
</div>