<p>こんにちは <%= @resource.email %>!</p>

<p>あなたのパスワードを変更する依頼が行われました。パスワードは以下のURLより変更可能です。</p>

<p><%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしあなたに依頼をした覚えがない場合、このメールは無視してください。</p>
<p>あなたのパスワードは上記のリンクにアクセスして新しく作成しない限り、現在のまま有効です。</p>
